<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.nuc.cushion">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".passenger.DecoderActivity" />
        <activity
            android:name=".passenger.SelectActivity"
            android:label="选择目的站" />
        <activity android:name=".mine.YouhuiActivity" />
        <activity android:name=".passenger.PassengerActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".driver.DriverActivity" />
        <activity android:name=".passenger.ContentActivity" />

        <service
            android:name=".utils.MyService">
        </service>
    </application>

</manifest>